* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container {
    height: 800px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.grid-square {
    border: 1px solid;
}

.hovering {
    background-color: black;
}

button {
    padding: 5px 20px 5px 20px;
}