* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    align-self: flex-end;
    height: 800px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.grid-square {
    border: 1px solid;
    flex: 0 0 25%;
}

.hovering {
    background-color: black;
}